[submodule "t_deps/modules/perl-test-moremore"]
	path = modules/perl-test-moremore
	url = git://github.com/wakaba/perl-test-moremore
	track = master
[submodule "t_deps/modules/test-moremore"]
	path = t_deps/modules/test-moremore
	url = git://github.com/wakaba/perl-test-moremore
